.shubham {
    background-color: aqua;
    font-size: large;
    border:  2px solid;
    border-radius: 10px;
}
.shivam {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: large;
}
